body {
  height: 100%;
  font-family: $body-font-family;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 0;
}

.text-red {
  color: $red !important;
}

.text-blue {
  color: $blue !important;
}

.text-green {
  color: $green !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-orange {
  color: $orange !important;
}

.text-purple {
  color: $purple !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-small {
  font-size: 0.8rem;
}

.mb0 {
  margin-bottom: 0px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}

a {
  @include link-color-darken($blue);
}

[class^="fa"]:before,
[class*=" fa-"]:before {
  margin-right: 5px;
}

ul, ol {
 list-style: none;
 margin: 0;
 padding: 0;
}

dd {
  margin: 0;
}

em, strong {
  font-style: normal;
  font-weight: normal;
}

img {
 max-width: 100%;
 height: auto;
}

.serif {
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif !important;
}

