@font-face {
 font-family: 'shelbyregular';
 src: url('/assets/fonts/shelby.eot');
 src: url('/assets/fonts/shelby.eot?#iefix') format('embedded-opentype'),
 url('/assets/fonts/shelby.woff') format('woff'),
 url('/assets/fonts/shelby.ttf') format('truetype'),
 url('/assets/fonts/shelby.svg#shelbyregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
