//LAYOUT
.container {
  @extend %clearfix;
  @include grid-unit(12);
  @include block-center;
}

#header {
  background: #eee;
  h1 {
    a {
      color: $textColor;
    }
  }
}

#content {
  padding-bottom: 30px;
  h1 {
    font-size: 1.5rem;
  }
}

#footer {
  .copyright {
    text-align: right;
  }
  .breadcrumbs {
  font-size: .8rem;
  }
}


