$body-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$blue: #00A3ED;
$red: #d60000;
$green: #7DC600;
$brown: #763903;
$orange: #FFBF00;
$yellow: #FAC800;
$purple: #a278ff;
$gray: #eee;
$textColor: #333;
$bgColor: #fafafa;
$innerwidth1: 800px;
$innerwidth2: 940px;
