meta charset="UTF-8"
title = current_page.data.title
meta content="" name="description"
meta content="" property="fb:admins"
meta content="" property="fb:app_id"
meta content="ja_JP" property="og:locale"
meta content="" property="og:site_name"
meta content="#{current_page.url}" property="og:url"
meta content="website" property="og:type"
meta content="" property="og:image"
meta content="" property="og:description"
meta content="#{current_page.data.title}" property="og:title"
= stylesheet_link_tag "style"
link rel="shortcut icon" href="/favicon.ico"

